[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
ignition-sc-crowdfunding-solana = "3CDyPZ4oqmtR1qqjWUL4mAaNMz2Uunsy2kjGSeeWeBPm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
